<div>
    <div class="spinner">
        <mat-spinner *ngIf="isLoading$ | async; gridContent"></mat-spinner>
    </div>
    <ag-grid-angular #gridContent visibility="hidden" class="grid"
    [rowData]="launches$ | async"
    [columnDefs]="colDefs"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    (cellClicked)="onCellClicked($event)"
    />
    <app-media-popup
    [showPopup] = "showPopup"
    [eventData] = "eventData"
    [imagesAvailable] = "imagesAvailable"
    (close)="closePopup()"
    />
</div>
