<header class="header-container">
    <div>
      <h1 class="header-text">
        <span id="header-text">Space X Launches </span>
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
        <i class="em em-rocket" aria-role="presentation" aria-label="ROCKET"></i>
      </h1>
      </div>
      <div class="nav-style">
      <nav>
          <a href="https://www.linkedin.com/in/mariahrosman/">LinkedIn </a> |
          <a href="https://github.com/mrosman7">GitHub</a> |
          <a href="https://bsky.app/profile/mariahsdevdiary.bsky.social">BlueSky  </a>
      </nav>
      </div>
</header>