<div *ngIf="showPopup" class="modal-overlay">
    <div class="modal-container">
        <div class="modal-header">
            <h3>
                Media Links
            </h3>
        </div>
        Selected Flight: {{eventData.rocketName}}, flight # {{eventData.flight_number}}
            <!-- some of these Presskit links are http and result in a Mixed Content warning
            TODO: add link validation or checks to make sure all links begin with https -->
            <div class="modal-body">
                <a href="{{eventData.presskit}}" *ngIf="eventData.presskit">Press Kit</a>
                <p></p>
                <a href="{{eventData.webcast}}" *ngIf="eventData.webcast">Youtube Webcast</a>
                <p></p>
                <a href="{{eventData.wikipedia}}" *ngIf="eventData.wikipedia">Wikipedia Article</a>
            </div>
            <div>
                <a *ngIf="imagesAvailable" routerLink="image-page"> Images </a>
            </div>
            <button class="button" (click)="closePopup()">Close</button>
        </div>
    </div>